p {
    text-align:center;
}

img.pokemonImage {
    width: 150px;
    height:150px;
}

div.card{
    border-style: double;
    border-width: 10px;
    width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}

div.image{
    text-align: center
}